@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html body{
  height: 100vh;/*altura*/
  width: 100vw;/*largura*/
  Background-color: Black;
}
Body{
   Background:url(img/fundo-madeira.jpg) no-repeat top center; 
   Background-size: cover;  
   Background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    
}
    section#telefone {
        position :absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 627px;
        width:311px;
        Background: url(img/frame-iphone.png) no-repeat center;
 
    }
    iframe#tela{
        position: relative;
        top:80px;
        left: 22px;
        width: 269px;
        height: 471px;
     
    }
     
    section#redes-sociais {
        text-align: right;
    }
    
   section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border: 2px solid transparent; 
    transition: transform 0.5s, border 1s; 
}

section#redes-sociais img:hover { 
    border: 2px solid #fff; 
    transform: translate(-3px, -3px); 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}


